<!DOCTYPE html>
<html>
<head>
  <title>PT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
<nav>
  <div class="nav-wrapper red darken-4">
    <a href="/home/index" class="brand-logo right"><img width="75" height="75" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/100px-Ruby_logo.svg.png" alt="logo" /></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/home/index">Home</a></li>
      <li><a href="/project/index">Explore</a></li>
      <li><a href="/project/add">Create</a></li>
      <li><a href="/project/manage">Manage</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/home/index">Home</a></li>
      <li><a href="/project/index">Explore</a></li>
      <li><a href="/project/add">Create</a></li>
      <li><a href="/project/manage">Manage</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <% flash.each do |name, msg| %>
      <%if name === 'alert'%>
          <%= content_tag :div, msg, class: "card red darken-4 white-text" %>
      <%else%>
          <%= content_tag :div, msg, class: "card green darken-4 white-text" %>
      <%end%>
  <% end %>
  <%= yield %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script>
  $(".button-collapse").sideNav();
</script>
</body>
</html>
